@font-face {
  font-family: 'Satoshi-Light';
  src: url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Light.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Light.woff') format('woff'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi-LightItalic';
  src: url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-LightItalic.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-LightItalic.woff') format('woff'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Satoshi-Regular';
  src: url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Regular.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Regular.woff') format('woff'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi-Italic';
  src: url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Italic.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Italic.woff') format('woff'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Italic.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Satoshi-Medium';
  src: url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Medium.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Medium.woff') format('woff'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi-MediumItalic';
  src: url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-MediumItalic.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-MediumItalic.woff') format('woff'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Satoshi-Bold';
  src: url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Bold.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Bold.woff') format('woff'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi-BoldItalic';
  src: url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-BoldItalic.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-BoldItalic.woff') format('woff'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Satoshi-Black';
  src: url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Black.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Black.woff') format('woff'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi-BlackItalic';
  src: url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-BlackItalic.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-BlackItalic.woff') format('woff'),
       url('https://raw.githubusercontent.com/gezin/satoshi/main/Satoshi-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
